.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  height: 40px;
  background: $color-sorbus;
  border-radius: 30px;
  padding: 10px 40px;
  @include adaptiveDesktopToMobile('padding-left', 40, 35);
  @include adaptiveDesktopToMobile('padding-right', 40, 35);
  font-weight: 600;
  font-size: 12px;
  text-transform: uppercase;
  color: $color-default-white;
  transition: background $trans-default, color $trans-default;

  &:hover {
    background: $color-burnt-sienna;
    color: $color-default-white;
  }

  &--light {
    background: unset;
    color: $color-sorbus;
    border: 1px solid $color-sorbus;
  }

  &--add {
    @include vp-767 {
      background-color: transparent;
      color: $color-sorbus;
      padding: 0;
      border: unset;
  
      &::before {
        content: '';
        display: block;
        width: 20px;
        height: 20px;
        background-image: url('../img/svg/icon-add.svg');
        background-size: cover;
        margin-right: 10px;
      }
  
      &:hover {
        background-color: transparent;
        color: $color-sorbus;
      }
    }
  }
}