.gallery {
  @include adaptiveDesktopToMobile('margin-bottom', 100, 60);
}
.gallery__title {
}
.gallery__list {
  @include reset-list;

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  @include adaptiveDesktopToMobile('gap', 30, 10);
}
.gallery__list-item {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: background $trans-default;
    pointer-events: none;
  }

  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 36px;
    height: 36px;
    background-image: url("../img/svg/icon-zoom.svg");
    background-size: cover;
    opacity: 0;
    transition: opacity $trans-default;
    pointer-events: none;
  }
  
  &:hover {
    &::before {
      background: rgba(0, 0, 0, 0.5);
    }

    &::after {
      opacity: 1;
    }
  }
}
.gallery__photo-link {
  
}
.gallery__photo {
}