.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;

  display: flex;
  flex-direction: column;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;

  background-color: rgba($color-default-black, 0.8);
  transform: scale(1.2);
  visibility: hidden;
  opacity: 0;

  transition: opacity $trans-modal,
    transform $trans-modal,
    visibility $trans-modal;

  pointer-events: none;

  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }

  &__wrapper {
    position: relative;

    display: flex;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100%;
    padding: 60px 40px;

    @include vp-767 {
      padding: 60px 16px;
    }
  }

  &__overlay {
    position: absolute;
    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    cursor: pointer;
  }

  &__content {
    position: relative;

    width: 600px;
    padding: 30px;

    background-color: $color-default-white;
    box-shadow: 0px 8px 30px -4px rgba(30, 30, 30, 0.2);
    border-radius: 16px;

    @include vp-767 {
      width: 100%;
      padding: 30px 15px;
    }
  }

  &__close-btn {
    position: absolute;
    top: 22px;
    right: 22px;
    z-index: 1;

    width: 40px;
    height: 40px;
    padding: 0;

    background: $color-transparent;
    border: none;
    cursor: pointer;
  }

  &--responsive {
    .modal__content {
      width: 100%;
    }
  }

  &--fit-content {
    .modal__content {
      width: auto;

      @include vp-767 {
        width: 100%;
      }
    }
  }

  &--no-scale {
    transform: none;
  }

  &--preload {
    transition: none;
  }

  &.is-active {
    transform: scale(1);
    visibility: visible;
    opacity: 1;

    pointer-events: auto;
  }
}

.modal__form {
  @include adaptiveDesktopToMobile('width', 410, 315);
}
.modal__title {
  font-weight: 600;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  margin: 0 0 50px;
}
.modal__input-wrapper {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 15px;
  }
}
.modal__label {
  font-size: 12px;
  color: $color-nobel;
  @include adaptiveDesktopToMobile('padding-left', 20, 15);
  margin-bottom: 5px;
}
.modal__input {
  border: 1px solid $color-gainsboro;
  border-radius: 4px;
  min-height: 40px;
  padding: 10px 20px;
}
.modal__form-submit {
  margin: 50px auto 0;
}