.school-tours {
}
.school-tours__title-wrapper {
  display: flex;
  align-items: flex-start;
}
.school-tours__title {
}

.school-tours__counter {
  margin-left: 10px;
  color: $color-coral;
  font-size: 14px;
  font-weight: 600;
}