<section class="info-page about">
  <div class="container">
    <h2 class="info-page__title">О проекте</h2>
    <div class="info-page__text">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
    <div class="info-page__slider swiper">
      <div class="swiper-wrapper">
        <div class="info-page__slide swiper-slide">
          <img src="img/content/info-page-slide.png" class="info-page__slide-img">
          <div class="info-page__slide-footer">
            <p class="info-page__slide-description">
              Подпись к фото
            </p>
            <div class="info-page__slide-counter">
              <span class="info-page__slide-counter-current">1</span>
              из
              <span class="info-page__slide-counter-all">5</span>
            </div>
          </div>
        </div>
        <div class="info-page__slide swiper-slide">
          <img src="img/content/info-page-slide.png" class="info-page__slide-img">
          <div class="info-page__slide-footer">
            <p class="info-page__slide-description">
              Подпись к фото
            </p>
            <div class="info-page__slide-counter">
              <span class="info-page__slide-counter-current">1</span>
              из
              <span class="info-page__slide-counter-all">5</span>
            </div>
          </div>
        </div>
        <div class="info-page__slide swiper-slide">
          <img src="img/content/info-page-slide.png" class="info-page__slide-img">
          <div class="info-page__slide-footer">
            <p class="info-page__slide-description">
              Подпись к фото
            </p>
            <div class="info-page__slide-counter">
              <span class="info-page__slide-counter-current">1</span>
              из
              <span class="info-page__slide-counter-all">5</span>
            </div>
          </div>
        </div>
        <div class="info-page__slide swiper-slide">
          <img src="img/content/info-page-slide.png" class="info-page__slide-img">
          <div class="info-page__slide-footer">
            <p class="info-page__slide-description">
              Подпись к фото
            </p>
            <div class="info-page__slide-counter">
              <span class="info-page__slide-counter-current">1</span>
              из
              <span class="info-page__slide-counter-all">5</span>
            </div>
          </div>
        </div>
        <div class="info-page__slide swiper-slide">
          <img src="img/content/info-page-slide.png" class="info-page__slide-img">
          <div class="info-page__slide-footer">
            <p class="info-page__slide-description">
              Подпись к фото
            </p>
            <div class="info-page__slide-counter">
              <span class="info-page__slide-counter-current">1</span>
              из
              <span class="info-page__slide-counter-all">5</span>
            </div>
          </div>
        </div>
      </div>
      <div class="info-page__slider-navigation">
        <button class="navigation-button navigation-button--prev">
          <svg class="navigation-button__icon" width="24" height="24">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </button>
        <button class="navigation-button navigation-button--next">
          <svg class="navigation-button__icon" width="24" height="24">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
    <div class="info-page__text">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
</section>
