<section class="account">
  <div class="container">
    <div class="account__main-wrapper">
      <h1 class="account__title">Личный кабинет школы</h1>
      <nav class="account__menu account__menu--desktop">
        <ul class="account__menu-list">
          <li class="account__menu-list-item">
            <a href="#" class="account__menu-link">
              <span class="account__menu-link-text">Профиль</span>
            </a>
          </li>
          <li class="account__menu-list-item">
            <a href="#" class="account__menu-link">
              <span class="account__menu-link-text">Карточка школы</span>
            </a>
          </li>
          <li class="account__menu-list-item">
            <a href="#" class="account__menu-link">
              <span class="account__menu-link-text">Расписание</span>
            </a>
          </li>
          <li class="account__menu-list-item">
            <a href="#" class="account__menu-link">
              <span class="account__menu-link-text">Программы</span>
            </a>
          </li>
          <li class="account__menu-list-item account__menu-list-item--active">
            <a href="#" class="account__menu-link">
              <span class="account__menu-link-text">Инструкторы</span>
            </a>
          </li>
        </ul>
      </nav>
      <nav class="account__menu account__menu--mobile custom-select slide-up" data-select="" data-name="account-menu" data-id="account-menu">
        <span class="custom-select__label"></span><span class="custom-select__error"></span>
        <button class="custom-select__button" type="button">
          <span class="custom-select__text"></span><span class="custom-select__icon"></span>
        </button>
        <ul class="custom-select__list" role="listbox">
          <li class="custom-select__item" tabindex="0" data-select-value="id-1" aria-selected="false" role="option">
            <a href="#" class="account__menu-link">
              <span class="account__menu-link-text">Профиль</span>
            </a>
          </li>
          <li class="custom-select__item" tabindex="0" data-select-value="id-2" aria-selected="false" role="option">
            <a href="#" class="account__menu-link">
              <span class="account__menu-link-text">Карточка школы</span>
            </a>
          </li>
          <li class="custom-select__item" tabindex="0" data-select-value="id-3" aria-selected="false" role="option">
            <a href="#" class="account__menu-link">
              <span class="account__menu-link-text">Расписание</span>
            </a>
          </li>
          <li class="custom-select__item" tabindex="0" data-select-value="id-4" aria-selected="false" role="option">
            <a href="#" class="account__menu-link">
              <span class="account__menu-link-text">Программы</span>
            </a>
          </li>
          <li class="custom-select__item" tabindex="0" data-select-value="id-5" aria-selected="true" role="option">
            <a href="#" class="account__menu-link">
              <span class="account__menu-link-text">Инструкторы</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="account__content">
        <section class="account__instructors instructors">
          <div class="container">
            <ul class="instructors__list">
              <li class="instructors__item">
                <img src="img/content/instructor-1.png" class="instructors__item-photo" width="270" height="350">
                <div class="instructors__item-name title-s-sm">Иван</div>
                <p class="instructors__item-description">Имеет сертификат Спасение на воде МЧС, проходил обучение инструкторов в Федерации Серфинга. Опыт работы в школе - 5 лет. Играет на гитаре, убойно рассказывает байки.</p>
                <a href="#" class="instructors__item-edit btn btn--light">Редактировать</a>
              </li>
              <li class="instructors__item">
                <img src="img/content/instructor-2.png" class="instructors__item-photo" width="270" height="350">
                <div class="instructors__item-name title-s-sm">Светлана</div>
                <p class="instructors__item-description">Имеет сертификат Спасение на воде МЧС, проходил обучение инструкторов в Федерации Серфинга. Опыт работы в школе - 5 лет. Играет на гитаре, убойно рассказывает байки.</p>
                <a href="#" class="instructors__item-edit btn btn--light">Редактировать</a>
              </li>
              <li class="instructors__item">
                <img src="img/content/instructor-3.png" class="instructors__item-photo" width="270" height="350">
                <div class="instructors__item-name title-s-sm">Виктор</div>
                <p class="instructors__item-description">Имеет сертификат Спасение на воде МЧС, проходил обучение инструкторов в Федерации Серфинга. Опыт работы в школе - 5 лет. Играет на гитаре, убойно рассказывает байки.</p>
                <a href="#" class="instructors__item-edit btn btn--light">Редактировать</a>
              </li>
              <li class="instructors__item">
                <img src="img/content/instructor-4.png" class="instructors__item-photo" width="270" height="350">
                <div class="instructors__item-name title-s-sm">Екатерина</div>
                <p class="instructors__item-description">Имеет сертификат Спасение на воде МЧС, проходил обучение инструкторов в Федерации Серфинга. Опыт работы в школе - 5 лет. Играет на гитаре, убойно рассказывает байки.</p>
                <a href="#" class="instructors__item-edit btn btn--light">Редактировать</a>
              </li>
              <li class="instructors__item">
                <img src="img/content/instructor-1.png" class="instructors__item-photo" width="270" height="350">
                <div class="instructors__item-name title-s-sm">Иван</div>
                <p class="instructors__item-description">Имеет сертификат Спасение на воде МЧС, проходил обучение инструкторов в Федерации Серфинга. Опыт работы в школе - 5 лет. Играет на гитаре, убойно рассказывает байки.</p>
                <a href="#" class="instructors__item-edit btn btn--light">Редактировать</a>
              </li>
              <li class="instructors__item">
                <img src="img/content/instructor-2.png" class="instructors__item-photo" width="270" height="350">
                <div class="instructors__item-name title-s-sm">Светлана</div>
                <p class="instructors__item-description">Имеет сертификат Спасение на воде МЧС, проходил обучение инструкторов в Федерации Серфинга. Опыт работы в школе - 5 лет. Играет на гитаре, убойно рассказывает байки.</p>
                <a href="#" class="instructors__item-edit btn btn--light">Редактировать</a>
              </li>
            </ul>
          </div>
        </section>
      </div>
    </div>
  </div>
</section>