<section class="account">
  <div class="container">
    <div class="account__main-wrapper">
      <h1 class="account__title">Личный кабинет</h1>
      <nav class="account__menu account__menu--desktop">
        <ul class="account__menu-list">
          <li class="account__menu-list-item account__menu-list-item--active">
            <a href="#" class="account__menu-link">
              <span class="account__menu-link-text">История заказов</span>
            </a>
          </li>
          <li class="account__menu-list-item">
            <a href="#" class="account__menu-link">
              <span class="account__menu-link-text">Профиль</span>
            </a>
          </li>
          <li class="account__menu-list-item">
            <a href="#" class="account__menu-link">
              <span class="account__menu-link-text">Отзывы</span>
            </a>
          </li>
        </ul>
      </nav>
      <nav class="account__menu account__menu--mobile custom-select slide-up" data-select="" data-name="account-menu" data-id="account-menu">
        <span class="custom-select__label"></span><span class="custom-select__error"></span>
        <button class="custom-select__button" type="button">
          <span class="custom-select__text"></span><span class="custom-select__icon"></span>
        </button>
        <ul class="custom-select__list" role="listbox">
          <li class="custom-select__item" tabindex="0" data-select-value="id-1" aria-selected="true" role="option">
            <a href="#" class="account__menu-link account__menu-link--1">
              <span class="account__menu-link-text">История заказов</span>
            </a>
          </li>
          <li class="custom-select__item" tabindex="0" data-select-value="id-2" aria-selected="false" role="option">
            <a href="#" class="account__menu-link account__menu-link--2">
              <span class="account__menu-link-text">Профиль</span>
            </a>
          </li>
          <li class="custom-select__item" tabindex="0" data-select-value="id-3" aria-selected="false" role="option">
            <a href="#" class="account__menu-link account__menu-link--3">
              <span class="account__menu-link-text">Отзывы</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="account__content">
        <div class="purchase-history">
          <div class="purchase-history__list-headers">
            <span>Дата</span>
            <span>Название услуги</span>
            <span>Школа</span>
            <span>Стоимость</span>
            <span>Статус</span>
          </div>
          <ul class="purchase-history__list">
            <li class="purchase-history__list-item">
              <div class="purchase-history__item">
                <span class="purchase-history__item-title">Дата</span>
                <span class="purchase-history__item-value">12.09.22</span>
              </div>
              <div class="purchase-history__item">
                <span class="purchase-history__item-title">Название услуги</span>
                <span class="purchase-history__item-value">SUP тур по реке Истра</span>
              </div>
              <div class="purchase-history__item">
                <span class="purchase-history__item-title">Школа</span>
                <div class="purchase-history__item-value">Beavers sup school</div>
              </div>
              <div class="purchase-history__item">
                <span class="purchase-history__item-title">Стоимость</span>
                <span class="purchase-history__item-value">3000 Р</span>
              </div>
              <div class="purchase-history__item">
                <span class="purchase-history__item-title">Статус</span>
                <span class="purchase-history__item-value">Завершен</span>
              </div>
            </li>
            <li class="purchase-history__list-item">
              <div class="purchase-history__item">
                <span class="purchase-history__item-title">Дата</span>
                <span class="purchase-history__item-value">12.09.22</span>
              </div>
              <div class="purchase-history__item">
                <span class="purchase-history__item-title">Название услуги</span>
                <span class="purchase-history__item-value">SUP тур по реке Истра</span>
              </div>
              <div class="purchase-history__item">
                <span class="purchase-history__item-title">Школа</span>
                <div class="purchase-history__item-value">Beavers sup school</div>
              </div>
              <div class="purchase-history__item">
                <span class="purchase-history__item-title">Стоимость</span>
                <span class="purchase-history__item-value">3000 Р</span>
              </div>
              <div class="purchase-history__item">
                <span class="purchase-history__item-title">Статус</span>
                <span class="purchase-history__item-value">Завершен</span>
              </div>
            </li>
            <li class="purchase-history__list-item">
              <div class="purchase-history__item">
                <span class="purchase-history__item-title">Дата</span>
                <span class="purchase-history__item-value">12.09.22</span>
              </div>
              <div class="purchase-history__item">
                <span class="purchase-history__item-title">Название услуги</span>
                <span class="purchase-history__item-value">SUP тур по реке Истра</span>
              </div>
              <div class="purchase-history__item">
                <span class="purchase-history__item-title">Школа</span>
                <div class="purchase-history__item-value">Beavers sup school</div>
              </div>
              <div class="purchase-history__item">
                <span class="purchase-history__item-title">Стоимость</span>
                <span class="purchase-history__item-value">3000 Р</span>
              </div>
              <div class="purchase-history__item">
                <span class="purchase-history__item-title">Статус</span>
                <span class="purchase-history__item-value">Завершен</span>
              </div>
            </li>
            <li class="purchase-history__list-item">
              <div class="purchase-history__item">
                <span class="purchase-history__item-title">Дата</span>
                <span class="purchase-history__item-value">12.09.22</span>
              </div>
              <div class="purchase-history__item">
                <span class="purchase-history__item-title">Название услуги</span>
                <span class="purchase-history__item-value">SUP тур по реке Истра</span>
              </div>
              <div class="purchase-history__item">
                <span class="purchase-history__item-title">Школа</span>
                <div class="purchase-history__item-value">Beavers sup school</div>
              </div>
              <div class="purchase-history__item">
                <span class="purchase-history__item-title">Стоимость</span>
                <span class="purchase-history__item-value">3000 Р</span>
              </div>
              <div class="purchase-history__item">
                <span class="purchase-history__item-title">Статус</span>
                <span class="purchase-history__item-value">Завершен</span>
              </div>
            </li>
            <li class="purchase-history__list-item">
              <div class="purchase-history__item">
                <span class="purchase-history__item-title">Дата</span>
                <span class="purchase-history__item-value">12.09.22</span>
              </div>
              <div class="purchase-history__item">
                <span class="purchase-history__item-title">Название услуги</span>
                <span class="purchase-history__item-value">SUP тур по реке Истра</span>
              </div>
              <div class="purchase-history__item">
                <span class="purchase-history__item-title">Школа</span>
                <div class="purchase-history__item-value">Beavers sup school</div>
              </div>
              <div class="purchase-history__item">
                <span class="purchase-history__item-title">Стоимость</span>
                <span class="purchase-history__item-value">3000 Р</span>
              </div>
              <div class="purchase-history__item">
                <span class="purchase-history__item-title">Статус</span>
                <span class="purchase-history__item-value">Завершен</span>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>