<section class="account">
  <div class="container">
    <div class="account__main-wrapper">
      <h1 class="account__title">Личный кабинет школы</h1>
      <nav class="account__menu account__menu--desktop">
        <ul class="account__menu-list">
          <li class="account__menu-list-item">
            <a href="#" class="account__menu-link">
              <span class="account__menu-link-text">Профиль</span>
            </a>
          </li>
          <li class="account__menu-list-item">
            <a href="#" class="account__menu-link">
              <span class="account__menu-link-text">Карточка школы</span>
            </a>
          </li>
          <li class="account__menu-list-item">
            <a href="#" class="account__menu-link">
              <span class="account__menu-link-text">Расписание</span>
            </a>
          </li>
          <li class="account__menu-list-item account__menu-list-item--active">
            <a href="#" class="account__menu-link">
              <span class="account__menu-link-text">Программы</span>
            </a>
          </li>
          <li class="account__menu-list-item">
            <a href="#" class="account__menu-link">
              <span class="account__menu-link-text">Инструкторы</span>
            </a>
          </li>
        </ul>
      </nav>
      <nav class="account__menu account__menu--mobile custom-select slide-up" data-select="" data-name="account-menu" data-id="account-menu">
        <span class="custom-select__label"></span><span class="custom-select__error"></span>
        <button class="custom-select__button" type="button">
          <span class="custom-select__text"></span><span class="custom-select__icon"></span>
        </button>
        <ul class="custom-select__list" role="listbox">
          <li class="custom-select__item" tabindex="0" data-select-value="id-1" aria-selected="false" role="option">
            <a href="#" class="account__menu-link">
              <span class="account__menu-link-text">Профиль</span>
            </a>
          </li>
          <li class="custom-select__item" tabindex="0" data-select-value="id-2" aria-selected="false" role="option">
            <a href="#" class="account__menu-link">
              <span class="account__menu-link-text">Карточка школы</span>
            </a>
          </li>
          <li class="custom-select__item" tabindex="0" data-select-value="id-3" aria-selected="false" role="option">
            <a href="#" class="account__menu-link">
              <span class="account__menu-link-text">Расписание</span>
            </a>
          </li>
          <li class="custom-select__item" tabindex="0" data-select-value="id-4" aria-selected="true" role="option">
            <a href="#" class="account__menu-link">
              <span class="account__menu-link-text">Программы</span>
            </a>
          </li>
          <li class="custom-select__item" tabindex="0" data-select-value="id-5" aria-selected="false" role="option">
            <a href="#" class="account__menu-link">
              <span class="account__menu-link-text">Инструкторы</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="account__content">
        <div class="account__programms">
          <div class="account__programms-section">
            <div class="account__programms-section-header">
              <h3 class="account__programms-section-title">ТУРЫ</h3>
            </div>  
            <div class="account__programms-section-empty">
              <img src="img/svg/tours-empty-1.svg" class="account__programms-section-empty-image">
              <p class="account__programms-section-empty-description">
                Давно нигде не были?<br/>
                Это стоит исправить
              </p>
              <a href="#" class="account__programms-section-empty-add">+ Добавить тур</a>
            </div>
          </div>
          <div class="account__programms-section">
            <div class="account__programms-section-header">
              <h3 class="account__programms-section-title">Прогулки</h3>
            </div>  
            <div class="account__programms-section-empty">
              <img src="img/svg/tours-empty-2.svg" class="account__programms-section-empty-image">
              <p class="account__programms-section-empty-description">
                Никуда не собираетесь?<br/>
                Может случится что-то интересное
              </p>
              <a href="#" class="account__programms-section-empty-add">+ Добавить прогулку</a>
            </div>
          </div>
          <div class="account__programms-section">
            <div class="account__programms-section-header">
              <h3 class="account__programms-section-title">Тренировки</h3>
            </div>  
            <div class="account__programms-section-empty">
              <img src="img/svg/tours-empty-3.svg" class="account__programms-section-empty-image">
              <p class="account__programms-section-empty-description">
                Может быть размяться?<br/>
                Точно нужно попробовать
              </p>
              <a href="#" class="account__programms-section-empty-add">+ Добавить тренировку</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>