<section class="account">
  <div class="container">
    <div class="account__main-wrapper">
      <h1 class="account__title">Личный кабинет школы</h1>
      <nav class="account__menu account__menu--desktop">
        <ul class="account__menu-list">
          <li class="account__menu-list-item">
            <a href="#" class="account__menu-link">
              <span class="account__menu-link-text">Профиль</span>
            </a>
          </li>
          <li class="account__menu-list-item">
            <a href="#" class="account__menu-link">
              <span class="account__menu-link-text">Карточка школы</span>
            </a>
          </li>
          <li class="account__menu-list-item">
            <a href="#" class="account__menu-link">
              <span class="account__menu-link-text">Расписание</span>
            </a>
          </li>
          <li class="account__menu-list-item account__menu-list-item--active">
            <a href="#" class="account__menu-link">
              <span class="account__menu-link-text">Программы</span>
            </a>
          </li>
          <li class="account__menu-list-item">
            <a href="#" class="account__menu-link">
              <span class="account__menu-link-text">Инструкторы</span>
            </a>
          </li>
        </ul>
      </nav>
      <nav class="account__menu account__menu--mobile custom-select slide-up" data-select="" data-name="account-menu" data-id="account-menu">
        <span class="custom-select__label"></span><span class="custom-select__error"></span>
        <button class="custom-select__button" type="button">
          <span class="custom-select__text"></span><span class="custom-select__icon"></span>
        </button>
        <ul class="custom-select__list" role="listbox">
          <li class="custom-select__item" tabindex="0" data-select-value="id-1" aria-selected="false" role="option">
            <a href="#" class="account__menu-link">
              <span class="account__menu-link-text">Профиль</span>
            </a>
          </li>
          <li class="custom-select__item" tabindex="0" data-select-value="id-2" aria-selected="false" role="option">
            <a href="#" class="account__menu-link">
              <span class="account__menu-link-text">Карточка школы</span>
            </a>
          </li>
          <li class="custom-select__item" tabindex="0" data-select-value="id-3" aria-selected="false" role="option">
            <a href="#" class="account__menu-link">
              <span class="account__menu-link-text">Расписание</span>
            </a>
          </li>
          <li class="custom-select__item" tabindex="0" data-select-value="id-4" aria-selected="true" role="option">
            <a href="#" class="account__menu-link">
              <span class="account__menu-link-text">Программы</span>
            </a>
          </li>
          <li class="custom-select__item" tabindex="0" data-select-value="id-5" aria-selected="false" role="option">
            <a href="#" class="account__menu-link">
              <span class="account__menu-link-text">Инструкторы</span>
            </a>
          </li>
        </ul>
      </nav>
      <div class="account__content">
        <div class="account__programms">
          <div class="account__programms-section">
            <div class="account__programms-section-header">
              <h3 class="account__programms-section-title">ТУРЫ</h3>
              <a href="" class="account__programms-section-add">+ Добавить тур</a>
            </div>  
            <ul class="cards__list">
              <li class="cards__list-item">
                <a href="#" class="card">
                  <div class="card__picture-wrapper">
                    <img class="card__picture" src="img/content/tours-1.png" />
                  </div>
                  <h3 class="card__title title-s-sm">SUP - поход ПО РЕКЕ ИСТРА</h3>
                  <div class="card__price">2 000 рублей</div>
                  <div class="card__description">
                    <p>с 16 мая по 12 сентября</p>
                    <p>Франция, Ница</p>
                  </div>
                  <div class="card__school">Beavers sup school</div>
                  <button class="card__more btn btn--light">Редактировать</button>
                </a>
              </li>
              <li class="cards__list-item">
                <a href="#" class="card">
                  <div class="card__picture-wrapper">
                    <img class="card__picture" src="img/content/tours-2.png" />
                  </div>
                  <h3 class="card__title title-s-sm">SUP - поход ПО РЕКЕ ИСТРА</h3>
                  <div class="card__price">2 000 рублей</div>
                  <div class="card__description">
                    <p>с 16 мая по 12 сентября</p>
                    <p>Франция, Ница</p>
                  </div>
                  <div class="card__school">Beavers sup school</div>
                  <button class="card__more btn btn--light">Редактировать</button>
                </a>
              </li>
            </ul>
          </div>
          <div class="account__programms-section">
            <div class="account__programms-section-header">
              <h3 class="account__programms-section-title">Прогулки</h3>
              <a href="" class="account__programms-section-add">+ Добавить прогулку</a>
            </div>
            <ul class="cards__list">
              <li class="cards__list-item">
                <a href="#" class="card">
                  <div class="card__picture-wrapper">
                    <img class="card__picture" src="img/content/tours-1.png" />
                  </div>
                  <h3 class="card__title title-s-sm">SUP - поход ПО РЕКЕ ИСТРА</h3>
                  <div class="card__price">2 000 рублей</div>
                  <div class="card__description">
                    <p>с 16 мая по 12 сентября</p>
                    <p>Франция, Ница</p>
                  </div>
                  <div class="card__school">Beavers sup school</div>
                  <button class="card__more btn btn--light">Редактировать</button>
                </a>
              </li>
              <li class="cards__list-item">
                <a href="#" class="card">
                  <div class="card__picture-wrapper">
                    <img class="card__picture" src="img/content/tours-2.png" />
                  </div>
                  <h3 class="card__title title-s-sm">SUP - поход ПО РЕКЕ ИСТРА</h3>
                  <div class="card__price">2 000 рублей</div>
                  <div class="card__description">
                    <p>с 16 мая по 12 сентября</p>
                    <p>Франция, Ница</p>
                  </div>
                  <div class="card__school">Beavers sup school</div>
                  <button class="card__more btn btn--light">Редактировать</button>
                </a>
              </li>
            </ul>
          </div>
          <div class="account__programms-section">
            <div class="account__programms-section-header">
              <h3 class="account__programms-section-title">Тренировки</h3>
              <a href="#" class="account__programms-section-add">+ Добавить тренировку</a>
            </div>
            <ul class="cards__list">
              <li class="cards__list-item">
                <a href="#" class="card">
                  <div class="card__picture-wrapper">
                    <img class="card__picture" src="img/content/tours-1.png" />
                  </div>
                  <h3 class="card__title title-s-sm">SUP - поход ПО РЕКЕ ИСТРА</h3>
                  <div class="card__price">2 000 рублей</div>
                  <div class="card__description">
                    <p>с 16 мая по 12 сентября</p>
                    <p>Франция, Ница</p>
                  </div>
                  <div class="card__school">Beavers sup school</div>
                  <button class="card__more btn btn--light">Редактировать</button>
                </a>
              </li>
              <li class="cards__list-item">
                <a href="#" class="card">
                  <div class="card__picture-wrapper">
                    <img class="card__picture" src="img/content/tours-2.png" />
                  </div>
                  <h3 class="card__title title-s-sm">SUP - поход ПО РЕКЕ ИСТРА</h3>
                  <div class="card__price">2 000 рублей</div>
                  <div class="card__description">
                    <p>с 16 мая по 12 сентября</p>
                    <p>Франция, Ница</p>
                  </div>
                  <div class="card__school">Beavers sup school</div>
                  <button class="card__more btn btn--light">Редактировать</button>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>