<section class="advertising advertising--zavidovo">
  <div class="container">
    <h2 class="advertising__title">Zavidovo SUP challenge </h2>
    <p class="advertising__description title-md">
      2 сентября 2022 <br>
      Регистрация открыта!
    </p>
    <img class="advertising__bg advertising__bg--desktop" src="img/content/bg-zavidovo.png" width="1920" height="700">
    <img class="advertising__bg advertising__bg--mobile" src="img/content/bg-zavidovo-mobile.png" width="895" height="1442">
  </div>
</section>