<section class="advertising advertising--red">
  <div class="container">
    <img class="advertising__logo" src="img/content/logo-red.png" alt="Red" width="170" height="170" />
    <h2 class="advertising__title">SUP-club.ru</h2>
    <p class="advertising__description title-sm">
      Самый большой выбор сапбордов в Европе! Доставка по России.<br><br>
      Магазины в Москве и Санкт-Петербурге.
    </p>
    <img class="advertising__bg" src="img/content/bg-red.png" width="1920" height="700">
  </div>
</section>