<section class="another inner-section">
  <div class="container"> 
    <h2 class="another__title section-title">Другие туры этой школы</h2>
    <div class="cards">
        <ul class="cards__list">
          <li class="cards__list-item">
            <a href="#" class="card">
              <div class="card__picture-wrapper">
                <img class="card__picture" src="img/content/tours-1.png" />
              </div>
              <h3 class="card__title title-s-sm">SUP - поход ПО РЕКЕ ИСТРА</h3>
              <div class="card__price">2 000 рублей</div>
              <div class="card__description">
                <p>с 16 мая по 12 сентября</p>
                <p>Франция, Ница</p>
              </div>
              <div class="card__school">Beavers sup school</div>
              <button class="card__more btn btn--light">ПОДРОБНЕЕ</button>
            </a>
          </li>
          <li class="cards__list-item">
            <a href="#" class="card">
              <div class="card__picture-wrapper">
                <img class="card__picture" src="img/content/tours-2.png" />
              </div>
              <h3 class="card__title title-s-sm">SUP - поход ПО РЕКЕ ИСТРА</h3>
              <div class="card__price">2 000 рублей</div>
              <div class="card__description">
                <p>с 16 мая по 12 сентября</p>
                <p>Франция, Ница</p>
              </div>
              <div class="card__school">Beavers sup school</div>
              <button class="card__more btn btn--light">ПОДРОБНЕЕ</button>
            </a>
          </li>
          <li class="cards__list-item">
            <a href="#" class="card">
              <div class="card__picture-wrapper">
                <img class="card__picture" src="img/content/tours-3.png" />
              </div>
              <h3 class="card__title title-s-sm">SUP - поход ПО РЕКЕ ИСТРА</h3>
              <div class="card__price">2 000 рублей</div>
              <div class="card__description">
                <p>с 16 мая по 12 сентября</p>
                <p>Франция, Ница</p>
              </div>
              <div class="card__school">Beavers sup school</div>
              <button class="card__more btn btn--light">ПОДРОБНЕЕ</button>
            </a>
          </li>
        </ul>
    </div>
  </div>
</section>