<section class="banner">
  <div class="banner__slider swiper">
    <div class="swiper-wrapper">
      <div class="banner__slide swiper-slide">
        <svg class="banner__slide-logo" width="82" height="80">
          <use xlink:href="#logo-small"></use>
        </svg>
        <h2 class="banner__slide-title">Sup - прогулки</h2>
        <p class="banner__slide-subtitle">МАРКЕТПЛЕЙС SUP УСЛУГ</p>
        <a href="#" class="banner__slide-btn btn">ПОДОБРАТЬ ПРОГУЛКУ</a>
        <img src="img/bg/banner-bg.png" class="banner__slide-bg" width="1920" height="600">
      </div>
      <div class="banner__slide swiper-slide">
        <svg class="banner__slide-logo" width="82" height="80">
          <use xlink:href="#logo-small"></use>
        </svg>
        <h2 class="banner__slide-title">Sup - прогулки</h2>
        <p class="banner__slide-subtitle">МАРКЕТПЛЕЙС SUP УСЛУГ</p>
        <a href="#" class="banner__slide-btn btn">ПОДОБРАТЬ ПРОГУЛКУ</a>
        <img src="img/bg/banner-bg.png" class="banner__slide-bg" width="1920" height="600">
      </div>
      <div class="banner__slide swiper-slide">
        <svg class="banner__slide-logo" width="82" height="80">
          <use xlink:href="#logo-small"></use>
        </svg>
        <h2 class="banner__slide-title">Sup - прогулки</h2>
        <p class="banner__slide-subtitle">МАРКЕТПЛЕЙС SUP УСЛУГ</p>
        <a href="#" class="banner__slide-btn btn">ПОДОБРАТЬ ПРОГУЛКУ</a>
        <img src="img/bg/banner-bg.png" class="banner__slide-bg" width="1920" height="600">
      </div>
      <div class="banner__slide swiper-slide">
        <svg class="banner__slide-logo" width="82" height="80">
          <use xlink:href="#logo-small"></use>
        </svg>
        <h2 class="banner__slide-title">Sup - прогулки</h2>
        <p class="banner__slide-subtitle">МАРКЕТПЛЕЙС SUP УСЛУГ</p>
        <a href="#" class="banner__slide-btn btn">ПОДОБРАТЬ ПРОГУЛКУ</a>
        <img src="img/bg/banner-bg.png" class="banner__slide-bg" width="1920" height="600">
      </div>
      <div class="banner__slide swiper-slide">
        <svg class="banner__slide-logo" width="82" height="80">
          <use xlink:href="#logo-small"></use>
        </svg>
        <h2 class="banner__slide-title">Sup - прогулки</h2>
        <p class="banner__slide-subtitle">МАРКЕТПЛЕЙС SUP УСЛУГ</p>
        <a href="#" class="banner__slide-btn btn">ПОДОБРАТЬ ПРОГУЛКУ</a>
        <img src="img/bg/banner-bg.png" class="banner__slide-bg" width="1920" height="600">
      </div>
    </div>
    <div class="swiper-pagination"></div>
  </div>
</section>