<section class="cards">
  <div class="container">
    <h2 class="cards__title title-md">Популярные маршруты по Москве</h2>
    <div class="cards__top-wrapper">
      <div class="cards__description">Мероприятия, которые занимают целый день или несколько дней</div>
      <a href="#" class="cards__more">
        Смотреть все
        <svg class="navigation-button__icon" width="24" height="24">
          <use xlink:href="#icon-arrow"></use>
        </svg>
      </a>
    </div>
    <div class="cards__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#" class="card">
            <div class="card__picture-wrapper">
              <img class="card__picture" src="img/content/card-1.png" />
            </div>
            <p class="card__suptitle">15 школ оказывают тур</p>
            <h3 class="card__title title-sm">SUP - поход ПО РЕКЕ ИСТРА</h3>
            <div class="card__description">
              <p>с 16 мая по 12 сентября</p>
              <p>г. Истра</p>
              <p>Старт - 16:00</p>
              <p>Стоимость - от 3000 рублей</p>
            </div>
            <button class="card__more btn btn--light">ПОДРОБНЕЕ</button>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card">
            <div class="card__picture-wrapper">
              <img class="card__picture" src="img/content/card-2.png" />
            </div>
            <p class="card__suptitle">15 школ оказывают тур</p>
            <h3 class="card__title title-sm">SUP - поход ПО РЕКЕ ИСТРА</h3>
            <div class="card__description">
              <p>с 16 мая по 12 сентября</p>
              <p>г. Истра</p>
              <p>Старт - 16:00</p>
              <p>Стоимость - от 3000 рублей</p>
            </div>
            <button class="card__more btn btn--light">ПОДРОБНЕЕ</button>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card">
            <div class="card__picture-wrapper">
              <img class="card__picture" src="img/content/card-3.png" />
            </div>
            <p class="card__suptitle">15 школ оказывают тур</p>
            <h3 class="card__title title-sm">SUP - поход ПО РЕКЕ ИСТРА</h3>
            <div class="card__description">
              <p>с 16 мая по 12 сентября</p>
              <p>г. Истра</p>
              <p>Старт - 16:00</p>
              <p>Стоимость - от 3000 рублей</p>
            </div>
            <button class="card__more btn btn--light">ПОДРОБНЕЕ</button>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card">
            <div class="card__picture-wrapper">
              <img class="card__picture" src="img/content/card-1.png" />
            </div>
            <p class="card__suptitle">15 школ оказывают тур</p>
            <h3 class="card__title title-sm">SUP - поход ПО РЕКЕ ИСТРА</h3>
            <div class="card__description">
              <p>с 16 мая по 12 сентября</p>
              <p>г. Истра</p>
              <p>Старт - 16:00</p>
              <p>Стоимость - от 3000 рублей</p>
            </div>
            <button class="card__more btn btn--light">ПОДРОБНЕЕ</button>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card">
            <div class="card__picture-wrapper">
              <img class="card__picture" src="img/content/card-2.png" />
            </div>
            <p class="card__suptitle">15 школ оказывают тур</p>
            <h3 class="card__title title-sm">SUP - поход ПО РЕКЕ ИСТРА</h3>
            <div class="card__description">
              <p>с 16 мая по 12 сентября</p>
              <p>г. Истра</p>
              <p>Старт - 16:00</p>
              <p>Стоимость - от 3000 рублей</p>
            </div>
            <button class="card__more btn btn--light">ПОДРОБНЕЕ</button>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card">
            <div class="card__picture-wrapper">
              <img class="card__picture" src="img/content/card-3.png" />
            </div>
            <p class="card__suptitle">15 школ оказывают тур</p>
            <h3 class="card__title title-sm">SUP - поход ПО РЕКЕ ИСТРА</h3>
            <div class="card__description">
              <p>с 16 мая по 12 сентября</p>
              <p>г. Истра</p>
              <p>Старт - 16:00</p>
              <p>Стоимость - от 3000 рублей</p>
            </div>
            <button class="card__more btn btn--light">ПОДРОБНЕЕ</button>
          </a>
        </div>
      </div>
      <div class="cards__slider-navigation">
        <button class="navigation-button navigation-button--prev">
          <svg class="navigation-button__icon" width="24" height="24">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </button>
        <button class="navigation-button navigation-button--next">
          <svg class="navigation-button__icon" width="24" height="24">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

</section>