<section class="cards">
  <div class="container">
    <ul class="cards__list">
      <li class="cards__list-item">
        <a href="#" class="card">
          <div class="card__picture-wrapper">
            <img class="card__picture" src="img/content/schools-1.png" />
          </div>
          <h3 class="card__title title-s-sm">Школа Sup</h3>
          <div class="card__description">
            <p class="card__description-paragraph card__description-paragraph--primary">23 тура</p>
            <p class="card__description-paragraph">г. Истра</p>
          </div>
          <div class="card__raiting raiting raiting--4"></div>
          <button class="card__more btn btn--light">ПОДРОБНЕЕ</button>
        </a>
      </li>
      <li class="cards__list-item">
        <a href="#" class="card">
          <div class="card__picture-wrapper">
            <img class="card__picture" src="img/content/schools-2.png" />
          </div>
          <h3 class="card__title title-s-sm">Beavers sup school</h3>
          <div class="card__description">
            <p class="card__description-paragraph card__description-paragraph--primary">23 тура</p>
            <p class="card__description-paragraph">г. Истра</p>
          </div>
          <div class="card__raiting raiting raiting--5"></div>
          <button class="card__more btn btn--light">ПОДРОБНЕЕ</button>
        </a>
      </li>
      <li class="cards__list-item">
        <a href="#" class="card">
          <div class="card__picture-wrapper">
            <img class="card__picture" src="img/content/schools-3.png" />
          </div>
          <h3 class="card__title title-s-sm">Школа Sup</h3>
          <div class="card__description">
            <p class="card__description-paragraph card__description-paragraph--primary">23 тура</p>
            <p class="card__description-paragraph">г. Истра</p>
          </div>
          <div class="card__raiting raiting raiting--4"></div>
          <button class="card__more btn btn--light">ПОДРОБНЕЕ</button>
        </a>
      </li>
      <li class="cards__list-item">
        <a href="#" class="card">
          <div class="card__picture-wrapper">
            <img class="card__picture" src="img/content/schools-2.png" />
          </div>
          <h3 class="card__title title-s-sm">Beavers sup school</h3>
          <div class="card__description">
            <p class="card__description-paragraph card__description-paragraph--primary">23 тура</p>
            <p class="card__description-paragraph">г. Истра</p>
          </div>
          <div class="card__raiting raiting raiting--5"></div>
          <button class="card__more btn btn--light">ПОДРОБНЕЕ</button>
        </a>
      </li>
      <li class="cards__list-item">
        <a href="#" class="card">
          <div class="card__picture-wrapper">
            <img class="card__picture" src="img/content/schools-3.png" />
          </div>
          <h3 class="card__title title-s-sm">Школа Sup</h3>
          <div class="card__description">
            <p class="card__description-paragraph card__description-paragraph--primary">23 тура</p>
            <p class="card__description-paragraph">г. Истра</p>
          </div>
          <div class="card__raiting raiting raiting--4"></div>
          <button class="card__more btn btn--light">ПОДРОБНЕЕ</button>
        </a>
      </li>
      <li class="cards__list-item">
        <a href="#" class="card">
          <div class="card__picture-wrapper">
            <img class="card__picture" src="img/content/schools-1.png" />
          </div>
          <h3 class="card__title title-s-sm">Школа Sup</h3>
          <div class="card__description">
            <p class="card__description-paragraph card__description-paragraph--primary">23 тура</p>
            <p class="card__description-paragraph">г. Истра</p>
          </div>
          <div class="card__raiting raiting raiting--4"></div>
          <button class="card__more btn btn--light">ПОДРОБНЕЕ</button>
        </a>
      </li>
      <li class="cards__list-item">
        <a href="#" class="card">
          <div class="card__picture-wrapper">
            <img class="card__picture" src="img/content/schools-1.png" />
          </div>
          <h3 class="card__title title-s-sm">Школа Sup</h3>
          <div class="card__description">
            <p class="card__description-paragraph card__description-paragraph--primary">23 тура</p>
            <p class="card__description-paragraph">г. Истра</p>
          </div>
          <div class="card__raiting raiting raiting--4"></div>
          <button class="card__more btn btn--light">ПОДРОБНЕЕ</button>
        </a>
      </li>
      <li class="cards__list-item">
        <a href="#" class="card">
          <div class="card__picture-wrapper">
            <img class="card__picture" src="img/content/schools-2.png" />
          </div>
          <h3 class="card__title title-s-sm">Beavers sup school</h3>
          <div class="card__description">
            <p class="card__description-paragraph card__description-paragraph--primary">23 тура</p>
            <p class="card__description-paragraph">г. Истра</p>
          </div>
          <div class="card__raiting raiting raiting--5"></div>
          <button class="card__more btn btn--light">ПОДРОБНЕЕ</button>
        </a>
      </li>
      <li class="cards__list-item">
        <a href="#" class="card">
          <div class="card__picture-wrapper">
            <img class="card__picture" src="img/content/schools-3.png" />
          </div>
          <h3 class="card__title title-s-sm">Школа Sup</h3>
          <div class="card__description">
            <p class="card__description-paragraph card__description-paragraph--primary">23 тура</p>
            <p class="card__description-paragraph">г. Истра</p>
          </div>
          <div class="card__raiting raiting raiting--4"></div>
          <button class="card__more btn btn--light">ПОДРОБНЕЕ</button>
        </a>
      </li>
      <li class="cards__list-item">
        <a href="#" class="card">
          <div class="card__picture-wrapper">
            <img class="card__picture" src="img/content/schools-2.png" />
          </div>
          <h3 class="card__title title-s-sm">Beavers sup school</h3>
          <div class="card__description">
            <p class="card__description-paragraph card__description-paragraph--primary">23 тура</p>
            <p class="card__description-paragraph">г. Истра</p>
          </div>
          <div class="card__raiting raiting raiting--5"></div>
          <button class="card__more btn btn--light">ПОДРОБНЕЕ</button>
        </a>
      </li>
      <li class="cards__list-item">
        <a href="#" class="card">
          <div class="card__picture-wrapper">
            <img class="card__picture" src="img/content/schools-3.png" />
          </div>
          <h3 class="card__title title-s-sm">Школа Sup</h3>
          <div class="card__description">
            <p class="card__description-paragraph card__description-paragraph--primary">23 тура</p>
            <p class="card__description-paragraph">г. Истра</p>
          </div>
          <div class="card__raiting raiting raiting--4"></div>
          <button class="card__more btn btn--light">ПОДРОБНЕЕ</button>
        </a>
      </li>
      <li class="cards__list-item">
        <a href="#" class="card">
          <div class="card__picture-wrapper">
            <img class="card__picture" src="img/content/schools-1.png" />
          </div>
          <h3 class="card__title title-s-sm">Школа Sup</h3>
          <div class="card__description">
            <p class="card__description-paragraph card__description-paragraph--primary">23 тура</p>
            <p class="card__description-paragraph">г. Истра</p>
          </div>
          <div class="card__raiting raiting raiting--4"></div>
          <button class="card__more btn btn--light">ПОДРОБНЕЕ</button>
        </a>
      </li>
    </ul>
    <div class="cards__pagination">
      <button class="cards__pagination-button navigation-button navigation-button--prev">
        <svg class="navigation-button__icon" width="24" height="24">
          <use xlink:href="#icon-arrow"></use>
        </svg>
      </button>
      <ul class="cards__pagination-pages">
        <li class="cards__pagination-page">
          <a href="#" class="cards__pagination-link cards__pagination-link--active">1</a>
        </li>
        <li class="cards__pagination-page">
          <a href="#" class="cards__pagination-link">2</a>
        </li>
        <li class="cards__pagination-page">
          <a href="#" class="cards__pagination-link">3</a>
        </li>
        <li class="cards__pagination-page">
          <a href="#" class="cards__pagination-link">4</a>
        </li>
      </ul>
      <button class="cards__pagination-button navigation-button navigation-button--next">
        <svg class="navigation-button__icon" width="24" height="24">
          <use xlink:href="#icon-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>