<section class="cards">
  <div class="container">
    <div class="cards__top-wrapper">
      <h2 class="cards__title title-md">Тренировки</h2>
      <a href="#" class="cards__more">
        Смотреть все
        <svg class="navigation-button__icon" width="24" height="24">
          <use xlink:href="#icon-arrow"></use>
        </svg>
      </a>
    </div>
    <div class="cards__slider swiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <a href="#" class="card">
            <div class="card__picture-wrapper">
              <img class="card__picture" src="img/content/card-3.png" />
            </div>
            <h3 class="card__title title-sm">Индивидуальные занятия</h3>
            <div class="card__description">
              <p>Длительность - 2 часа</p>
              <p>Ежедневно - 7:00, 9:00, 11:00 и 13:00</p>
            </div>
            <button class="card__more btn btn--light">ПОДРОБНЕЕ</button>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card">
            <div class="card__picture-wrapper">
              <img class="card__picture" src="img/content/card-2.png" />
            </div>
            <h3 class="card__title title-sm">Индивидуальные занятия</h3>
            <div class="card__description">
              <p>Длительность - 2 часа</p>
              <p>Ежедневно - 7:00, 9:00, 11:00 и 13:00</p>
            </div>
            <button class="card__more btn btn--light">ПОДРОБНЕЕ</button>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card">
            <div class="card__picture-wrapper">
              <img class="card__picture" src="img/content/card-1.png" />
            </div>
            <h3 class="card__title title-sm">Индивидуальные занятия</h3>
            <div class="card__description">
              <p>Длительность - 2 часа</p>
              <p>Ежедневно - 7:00, 9:00, 11:00 и 13:00</p>
            </div>
            <button class="card__more btn btn--light">ПОДРОБНЕЕ</button>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card">
            <div class="card__picture-wrapper">
              <img class="card__picture" src="img/content/card-3.png" />
            </div>
            <h3 class="card__title title-sm">Индивидуальные занятия</h3>
            <div class="card__description">
              <p>Длительность - 2 часа</p>
              <p>Ежедневно - 7:00, 9:00, 11:00 и 13:00</p>
            </div>
            <button class="card__more btn btn--light">ПОДРОБНЕЕ</button>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card">
            <div class="card__picture-wrapper">
              <img class="card__picture" src="img/content/card-2.png" />
            </div>
            <h3 class="card__title title-sm">Индивидуальные занятия</h3>
            <div class="card__description">
              <p>Длительность - 2 часа</p>
              <p>Ежедневно - 7:00, 9:00, 11:00 и 13:00</p>
            </div>
            <button class="card__more btn btn--light">ПОДРОБНЕЕ</button>
          </a>
        </div>
        <div class="swiper-slide">
          <a href="#" class="card">
            <div class="card__picture-wrapper">
              <img class="card__picture" src="img/content/card-1.png" />
            </div>
            <h3 class="card__title title-sm">Индивидуальные занятия</h3>
            <div class="card__description">
              <p>Длительность - 2 часа</p>
              <p>Ежедневно - 7:00, 9:00, 11:00 и 13:00</p>
            </div>
            <button class="card__more btn btn--light">ПОДРОБНЕЕ</button>
          </a>
        </div>
      </div>
      <div class="cards__slider-navigation">
        <button class="navigation-button navigation-button--prev">
          <svg class="navigation-button__icon" width="24" height="24">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </button>
        <button class="navigation-button navigation-button--next">
          <svg class="navigation-button__icon" width="24" height="24">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>

</section>