<section class="contests">
  <div class="container">
    <div class="contests__table">
      <ul class="contests__table-header">
        <li class="contests__table-header-item">Дата</li>
        <li class="contests__table-header-item">Название</li>
        <li class="contests__table-header-item">Город проведения</li>
        <li class="contests__table-header-item">Статус</li>
      </ul>
      <ul class="contests__list">
        <li class="contest">
          <div class="contest__date">11.09.2022</div>
          <div class="contest__description">
            Соревнования молодежные всероссийские официальные 2022
            <a href="https://sup-school.ru" class="contest__link">https://sup-school.ru</a>
          </div>
          <div class="contest__city">Санкт-Петербург</div>
          <div class="contest__status">Всероссийский официальный</div>
        </li>
        <li class="contest">
          <div class="contest__date">11.09.2022</div>
          <div class="contest__description">
            Соревнования молодежные всероссийские официальные 2022
            <a href="https://sup-school.ru" class="contest__link">https://sup-school.ru</a>
          </div>
          <div class="contest__city">Санкт-Петербург</div>
          <div class="contest__status">Всероссийский официальный</div>
        </li>
        <li class="contest">
          <div class="contest__date">11.09.2022</div>
          <div class="contest__description">
            Соревнования молодежные всероссийские официальные 2022
            <a href="https://sup-school.ru" class="contest__link">https://sup-school.ru</a>
          </div>
          <div class="contest__city">Санкт-Петербург</div>
          <div class="contest__status">Всероссийский официальный</div>
        </li>
        <li class="contest">
          <div class="contest__date">11.09.2022</div>
          <div class="contest__description">
            Соревнования молодежные всероссийские официальные 2022
            <a href="https://sup-school.ru" class="contest__link">https://sup-school.ru</a>
          </div>
          <div class="contest__city">Санкт-Петербург</div>
          <div class="contest__status">Всероссийский официальный</div>
        </li>
        <li class="contest">
          <div class="contest__date">11.09.2022</div>
          <div class="contest__description">
            Соревнования молодежные всероссийские официальные 2022
            <a href="https://sup-school.ru" class="contest__link">https://sup-school.ru</a>
          </div>
          <div class="contest__city">Санкт-Петербург</div>
          <div class="contest__status">Всероссийский официальный</div>
        </li>
      </ul>
    </div>

    <div class="contests__past">
      <h2 class="contests__past-title section-title">Прошедшие мероприятия</h2>
      <div class="contests__table">
        <ul class="contests__table-header">
          <li class="contests__table-header-item">Дата</li>
          <li class="contests__table-header-item">Название</li>
          <li class="contests__table-header-item">Город проведения</li>
          <li class="contests__table-header-item">Статус</li>
        </ul>
        <ul class="contests__list">
          <li class="contest">
            <div class="contest__date">11.09.2022</div>
            <div class="contest__description">
              Соревнования молодежные всероссийские официальные 2022
              <a href="https://sup-school.ru" class="contest__link">https://sup-school.ru</a>
            </div>
            <div class="contest__city">Санкт-Петербург</div>
            <div class="contest__status">Всероссийский официальный</div>
          </li>
          <li class="contest">
            <div class="contest__date">11.09.2022</div>
            <div class="contest__description">
              Соревнования молодежные всероссийские официальные 2022
              <a href="https://sup-school.ru" class="contest__link">https://sup-school.ru</a>
            </div>
            <div class="contest__city">Санкт-Петербург</div>
            <div class="contest__status">Всероссийский официальный</div>
          </li>
          <li class="contest">
            <div class="contest__date">11.09.2022</div>
            <div class="contest__description">
              Соревнования молодежные всероссийские официальные 2022
              <a href="https://sup-school.ru" class="contest__link">https://sup-school.ru</a>
            </div>
            <div class="contest__city">Санкт-Петербург</div>
            <div class="contest__status">Всероссийский официальный</div>
          </li>
          <li class="contest">
            <div class="contest__date">11.09.2022</div>
            <div class="contest__description">
              Соревнования молодежные всероссийские официальные 2022
              <a href="https://sup-school.ru" class="contest__link">https://sup-school.ru</a>
            </div>
            <div class="contest__city">Санкт-Петербург</div>
            <div class="contest__status">Всероссийский официальный</div>
          </li>
          <li class="contest">
            <div class="contest__date">11.09.2022</div>
            <div class="contest__description">
              Соревнования молодежные всероссийские официальные 2022
              <a href="https://sup-school.ru" class="contest__link">https://sup-school.ru</a>
            </div>
            <div class="contest__city">Санкт-Петербург</div>
            <div class="contest__status">Всероссийский официальный</div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>