<section class="event event--main">
  <div class="container">
    <div class="event__wrapper">
      <div class="event__text">
        <h2 class="event__title title-md">SUP EVENT</h2>
        <p class="event__description">С&nbsp;нами&nbsp;Вы можете сделать любое командное событие незабываемым. Оставьте заявку на&nbsp;обратный звонок и&nbsp;мы&nbsp;свяжемся с&nbsp;Вами в&nbsp;ближайшее время.</p>
        <ul class="event__list">
          <li class="event__list-item">Корпоративы</li>
          <li class="event__list-item">Тимбилдинг с коллегами</li>
          <li class="event__list-item">Совместный отдых с друзьями</li>
        </ul>
        <button class="event__submit btn">ОСТАВИТЬ ЗАЯВКУ</button>
      </div>
      <img src="img/content/event.png" class="event__picture" width="700" height="569">
    </div>
  </div>
  <img src="img/svg/bg-event.svg" class="event__bg" width="1920" height="700">
</section>