<section class="gallery inner-section">
  <div class="container">
    <h2 class="gallery__title section-title">Фотогалерея</h2>
    <ul class="gallery__list">
      <li class="gallery__list-item">
        <a href="img/content/gallery-1.png" class="gallery__photo-link" data-fancybox="gallery">
          <img src="img/content/gallery-1.png" class="gallery__photo">
        </a>
      </li>
      <li class="gallery__list-item">
        <a href="img/content/gallery-2.png" class="gallery__photo-link" data-fancybox="gallery">
          <img src="img/content/gallery-2.png" class="gallery__photo">
        </a>
      </li>
      <li class="gallery__list-item">
        <a href="img/content/gallery-3.png" class="gallery__photo-link" data-fancybox="gallery">
          <img src="img/content/gallery-3.png" class="gallery__photo">
        </a>
      </li>
      <li class="gallery__list-item">
        <a href="img/content/gallery-4.png" class="gallery__photo-link" data-fancybox="gallery">
          <img src="img/content/gallery-4.png" class="gallery__photo">
        </a>
      </li>
      <li class="gallery__list-item">
        <a href="img/content/gallery-5.png" class="gallery__photo-link" data-fancybox="gallery">
          <img src="img/content/gallery-5.png" class="gallery__photo">
        </a>
      </li>
      <li class="gallery__list-item">
        <a href="img/content/gallery-6.png" class="gallery__photo-link" data-fancybox="gallery">
          <img src="img/content/gallery-6.png" class="gallery__photo">
        </a>
      </li>
    </ul>
  </div>
</section>