<section class="information">
  <div class="container">
    <div class="information__section">
      <h3 class="information__section-title">Программа</h3>
      <ul class="information__list">
        <li class="information__list-item">
          <div class="information__list-item-value">09:00 — 10:00</div>
          <ul class="information__sublist">
            <li class="information__sublist-item">Встреча участников на старте;</li>
            <li class="information__sublist-item">Инструктаж и техника безопасности;</li>
            <li class="information__sublist-item">Базовые навыки гребли на воде: прямой гребок, гребки управления.</li>
          </ul>
        </li>
        <li class="information__list-item">
          <div class="information__list-item-value">10:00 — 14:00</div>
          <ul class="information__sublist">
            <li class="information__sublist-item">Встреча участников на старте;</li>
            <li class="information__sublist-item">Инструктаж и техника безопасности;</li>
            <li class="information__sublist-item">Базовые навыки гребли на воде: прямой гребок, гребки управления.</li>
          </ul>
        </li>
        <li class="information__list-item">
          <div class="information__list-item-value">14:00 — 17:00</div>
          <ul class="information__sublist">
            <li class="information__sublist-item">Встреча участников на старте;</li>
            <li class="information__sublist-item">Инструктаж и техника безопасности;</li>
            <li class="information__sublist-item">Базовые навыки гребли на воде: прямой гребок, гребки управления.</li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="information__section">
      <h3 class="information__section-title">Условия организации и ограничения</h3>
      <div class="information__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
    </div>
    <div class="information__section">
      <h3 class="information__section-title">Об организаторе (школе)</h3>
      <div class="information__text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</div>
    </div>
  </div>
</section>



