<section class="sign-in sign-in--password">
  <img src="img/bg/sign-in.png" class="sign-in__picture">
  <div class="container">
    <div class="sign-in__wrapper">
      <div class="sign-in__content">
        <button class="btn-back" onclick="window.history.back()">
          <div class="btn-back__circle">
            <svg class="btn-back__icon" width="24" height="24">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          </div>
          <span>Назад</span>
        </button>
        <form class="sign-in__form">
          <div class="sign-in__form-suptitle">Шаг 1 из 3</div>
          <h2 class="sign-in__form-title">Восстановление пароля</h2>
          <div class="sign-in__form-subtitle">На указанный Вами телефон мы вышлем одноразовый код</div>
          <div class="sign-in__form-wrapper">
            <div class="sign-in__input-wrapper">
              <label for="phone">Ваш телефон</label>
              <input id="phone" type="tel" required>
            </div>
          </div>
          <button class="sign-in__form-submit btn">Отправить</button>
        </form>
      </div>
    </div>
  </div>
</section>