<section class="reviews inner-section">
  <div class="container">
    <div class="reviews__header">
      <h2 class="reviews__title">Отзывы</h2>
      <button class="reviews__add btn btn--add">НАПИСАТЬ ОТЗЫВ</button>
    </div>
    <div class="reviews__slider swiper">
      <div class="swiper-wrapper">
        <div class="review swiper-slide">
          <div class="review__header">
            <div class="review__author">Иван</div>
            <div class="review__raiting raiting raiting--4"></div>
          </div>
          <div class="review__date">16.09.2019</div>
          <ul class="review__list">
            <li class="review__list-item">
              <div class="review__list-item-name">Удобство проезда</div>
              <div class="review__list-item-value">5/5</div>
            </li>
            <li class="review__list-item">
              <div class="review__list-item-name">Качество оборудования </div>
              <div class="review__list-item-value">4/5</div>
            </li>
            <li class="review__list-item">
              <div class="review__list-item-name">Комфорт на станции</div>
              <div class="review__list-item-value">3/5</div>
            </li>
            <li class="review__list-item">
              <div class="review__list-item-name">Профессионализм инструкторов </div>
              <div class="review__list-item-value">5/5</div>
            </li>
            <li class="review__list-item">
              <div class="review__list-item-name">Удобство оформления</div>
              <div class="review__list-item-value">2/5</div>
            </li>
          </ul>
          <div class="review__photos">
            <a href="img/content/review.png" class="review__photo-link" data-fancybox="review-1">
              <img src="img/content/review.png" class="review__photo">
            </a>
            <a href="img/content/review.png" class="review__photo-link" data-fancybox="review-1">
              <img src="img/content/review.png" class="review__photo">
            </a>
            <a href="img/content/review.png" class="review__photo-link" data-fancybox="review-1">
              <img src="img/content/review.png" class="review__photo">
            </a>
            <a href="img/content/review.png" class="review__photo-link" data-fancybox="review-1">
              <img src="img/content/review.png" class="review__photo">
            </a>
            <a href="img/content/review.png" class="review__photo-link" data-fancybox="review-1">
              <img src="img/content/review.png" class="review__photo">
            </a>
          </div>
        </div>
        <div class="review swiper-slide">
          <div class="review__header">
            <div class="review__author">Иван</div>
            <div class="review__raiting raiting raiting--4"></div>
          </div>
          <div class="review__date">16.09.2019</div>
          <ul class="review__list">
            <li class="review__list-item">
              <div class="review__list-item-name">Удобство проезда</div>
              <div class="review__list-item-value">5/5</div>
            </li>
            <li class="review__list-item">
              <div class="review__list-item-name">Качество оборудования </div>
              <div class="review__list-item-value">4/5</div>
            </li>
            <li class="review__list-item">
              <div class="review__list-item-name">Комфорт на станции</div>
              <div class="review__list-item-value">3/5</div>
            </li>
            <li class="review__list-item">
              <div class="review__list-item-name">Профессионализм инструкторов </div>
              <div class="review__list-item-value">5/5</div>
            </li>
            <li class="review__list-item">
              <div class="review__list-item-name">Удобство оформления</div>
              <div class="review__list-item-value">2/5</div>
            </li>
          </ul>
          <div class="review__photos">
            <a href="img/content/review.png" class="review__photo-link" data-fancybox="review-2">
              <img src="img/content/review.png" class="review__photo">
            </a>
            <a href="img/content/review.png" class="review__photo-link" data-fancybox="review-2">
              <img src="img/content/review.png" class="review__photo">
            </a>
            <a href="img/content/review.png" class="review__photo-link" data-fancybox="review-2">
              <img src="img/content/review.png" class="review__photo">
            </a>
            <a href="img/content/review.png" class="review__photo-link" data-fancybox="review-2">
              <img src="img/content/review.png" class="review__photo">
            </a>
            <a href="img/content/review.png" class="review__photo-link" data-fancybox="review-2">
              <img src="img/content/review.png" class="review__photo">
            </a>
          </div>
        </div>
        <div class="review swiper-slide">
          <div class="review__header">
            <div class="review__author">Иван</div>
            <div class="review__raiting raiting raiting--4"></div>
          </div>
          <div class="review__date">16.09.2019</div>
          <ul class="review__list">
            <li class="review__list-item">
              <div class="review__list-item-name">Удобство проезда</div>
              <div class="review__list-item-value">5/5</div>
            </li>
            <li class="review__list-item">
              <div class="review__list-item-name">Качество оборудования </div>
              <div class="review__list-item-value">4/5</div>
            </li>
            <li class="review__list-item">
              <div class="review__list-item-name">Комфорт на станции</div>
              <div class="review__list-item-value">3/5</div>
            </li>
            <li class="review__list-item">
              <div class="review__list-item-name">Профессионализм инструкторов </div>
              <div class="review__list-item-value">5/5</div>
            </li>
            <li class="review__list-item">
              <div class="review__list-item-name">Удобство оформления</div>
              <div class="review__list-item-value">2/5</div>
            </li>
          </ul>
          <div class="review__photos">
            <a href="img/content/review.png" class="review__photo-link" data-fancybox="review-3">
              <img src="img/content/review.png" class="review__photo">
            </a>
            <a href="img/content/review.png" class="review__photo-link" data-fancybox="review-3">
              <img src="img/content/review.png" class="review__photo">
            </a>
            <a href="img/content/review.png" class="review__photo-link" data-fancybox="review-3">
              <img src="img/content/review.png" class="review__photo">
            </a>
            <a href="img/content/review.png" class="review__photo-link" data-fancybox="review-3">
              <img src="img/content/review.png" class="review__photo">
            </a>
            <a href="img/content/review.png" class="review__photo-link" data-fancybox="review-3">
              <img src="img/content/review.png" class="review__photo">
            </a>
          </div>
        </div>
        <div class="review swiper-slide">
          <div class="review__header">
            <div class="review__author">Иван</div>
            <div class="review__raiting raiting raiting--4"></div>
          </div>
          <div class="review__date">16.09.2019</div>
          <ul class="review__list">
            <li class="review__list-item">
              <div class="review__list-item-name">Удобство проезда</div>
              <div class="review__list-item-value">5/5</div>
            </li>
            <li class="review__list-item">
              <div class="review__list-item-name">Качество оборудования </div>
              <div class="review__list-item-value">4/5</div>
            </li>
            <li class="review__list-item">
              <div class="review__list-item-name">Комфорт на станции</div>
              <div class="review__list-item-value">3/5</div>
            </li>
            <li class="review__list-item">
              <div class="review__list-item-name">Профессионализм инструкторов </div>
              <div class="review__list-item-value">5/5</div>
            </li>
            <li class="review__list-item">
              <div class="review__list-item-name">Удобство оформления</div>
              <div class="review__list-item-value">2/5</div>
            </li>
          </ul>
          <div class="review__photos">
            <a href="img/content/review.png" class="review__photo-link" data-fancybox="review-4">
              <img src="img/content/review.png" class="review__photo">
            </a>
            <a href="img/content/review.png" class="review__photo-link" data-fancybox="review-4">
              <img src="img/content/review.png" class="review__photo">
            </a>
            <a href="img/content/review.png" class="review__photo-link" data-fancybox="review-4">
              <img src="img/content/review.png" class="review__photo">
            </a>
            <a href="img/content/review.png" class="review__photo-link" data-fancybox="review-4">
              <img src="img/content/review.png" class="review__photo">
            </a>
            <a href="img/content/review.png" class="review__photo-link" data-fancybox="review-4">
              <img src="img/content/review.png" class="review__photo">
            </a>
          </div>
        </div>
        <div class="review swiper-slide">
          <div class="review__header">
            <div class="review__author">Иван</div>
            <div class="review__raiting raiting raiting--4"></div>
          </div>
          <div class="review__date">16.09.2019</div>
          <ul class="review__list">
            <li class="review__list-item">
              <div class="review__list-item-name">Удобство проезда</div>
              <div class="review__list-item-value">5/5</div>
            </li>
            <li class="review__list-item">
              <div class="review__list-item-name">Качество оборудования </div>
              <div class="review__list-item-value">4/5</div>
            </li>
            <li class="review__list-item">
              <div class="review__list-item-name">Комфорт на станции</div>
              <div class="review__list-item-value">3/5</div>
            </li>
            <li class="review__list-item">
              <div class="review__list-item-name">Профессионализм инструкторов </div>
              <div class="review__list-item-value">5/5</div>
            </li>
            <li class="review__list-item">
              <div class="review__list-item-name">Удобство оформления</div>
              <div class="review__list-item-value">2/5</div>
            </li>
          </ul>
          <div class="review__photos">
            <a href="img/content/review.png" class="review__photo-link" data-fancybox="review-5">
              <img src="img/content/review.png" class="review__photo">
            </a>
            <a href="img/content/review.png" class="review__photo-link" data-fancybox="review-5">
              <img src="img/content/review.png" class="review__photo">
            </a>
            <a href="img/content/review.png" class="review__photo-link" data-fancybox="review-5">
              <img src="img/content/review.png" class="review__photo">
            </a>
            <a href="img/content/review.png" class="review__photo-link" data-fancybox="review-5">
              <img src="img/content/review.png" class="review__photo">
            </a>
            <a href="img/content/review.png" class="review__photo-link" data-fancybox="review-5">
              <img src="img/content/review.png" class="review__photo">
            </a>
          </div>
        </div>
      </div>
      <div class="reviews__slider-navigation">
        <button class="navigation-button navigation-button--prev">
          <svg class="navigation-button__icon" width="24" height="24">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </button>
        <button class="navigation-button navigation-button--next">
          <svg class="navigation-button__icon" width="24" height="24">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>