<section class="school">
  <div class="container">
    <div class="school__wrapper">
      <img src="img/content/school.png" class="school__picture" width="370" height="350">
      <h2 class="school__title">Beavers sup school</h2>
      <div class="school__raiting raiting raiting--5"></div>
      <div class="school__city">г. Санкт-Петербург</div>
      <p class="school__description">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
      <ul class="school__contacts">
        <li class="school__contact">
          <a href="https://sup-school.ru" class="school__contact-link" target="_blank">
            <svg class="school__contact-link-icon" width="24" height="24">
              <use xlink:href="#icon-desktop"></use>
            </svg>
            <span>https://sup-school.ru</span>
          </a>
        </li>
        <li class="school__contact">
          <a href="tel:+79112223344" class="school__contact-link" target="_blank">
            <svg class="school__contact-link-icon" width="24" height="24">
              <use xlink:href="#icon-phone"></use>
            </svg>
            <span>+7 (911) 222 33 44</span>
          </a>
        </li>
        <li class="school__contact">
          <a href="https://sup-school.ru" class="school__contact-link" target="_blank">
            <svg class="school__contact-link-icon" width="24" height="24">
              <use xlink:href="#logo-telegram"></use>
            </svg>
            <span>Telegram канал</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>