<section class="school-instructors inner-section instructors">
  <div class="container">
    <h2 class="instructors__title section-title">Инструкторы школы</h2>
    <div class="instructors__slider swiper">
      <div class="swiper-wrapper">
        <div class="instructors__item swiper-slide">
          <img src="img/content/instructor-1.png" class="instructors__item-photo" width="270" height="350">
          <div class="instructors__item-name title-s-sm">Иван</div>
          <p class="instructors__item-description">Имеет сертификат Спасение на воде МЧС, проходил обучение инструкторов в Федерации Серфинга. Опыт работы в школе - 5 лет. Играет на гитаре, убойно рассказывает байки.</p>
        </div>
        <div class="instructors__item swiper-slide">
          <img src="img/content/instructor-2.png" class="instructors__item-photo" width="270" height="350">
          <div class="instructors__item-name title-s-sm">Светлана</div>
          <p class="instructors__item-description">Имеет сертификат Спасение на воде МЧС, проходил обучение инструкторов в Федерации Серфинга. Опыт работы в школе - 5 лет. Играет на гитаре, убойно рассказывает байки.</p>
        </div>
        <div class="instructors__item swiper-slide">
          <img src="img/content/instructor-3.png" class="instructors__item-photo" width="270" height="350">
          <div class="instructors__item-name title-s-sm">Виктор</div>
          <p class="instructors__item-description">Имеет сертификат Спасение на воде МЧС, проходил обучение инструкторов в Федерации Серфинга. Опыт работы в школе - 5 лет. Играет на гитаре, убойно рассказывает байки.</p>
        </div>
        <div class="instructors__item swiper-slide">
          <img src="img/content/instructor-4.png" class="instructors__item-photo" width="270" height="350">
          <div class="instructors__item-name title-s-sm">Екатерина</div>
          <p class="instructors__item-description">Имеет сертификат Спасение на воде МЧС, проходил обучение инструкторов в Федерации Серфинга. Опыт работы в школе - 5 лет. Играет на гитаре, убойно рассказывает байки.</p>
        </div>
      </div>
      <div class="instructors__slider-navigation">
        <button class="navigation-button navigation-button--prev">
          <svg class="navigation-button__icon" width="24" height="24">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </button>
        <button class="navigation-button navigation-button--next">
          <svg class="navigation-button__icon" width="24" height="24">
            <use xlink:href="#icon-arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>