<section class="search search--main">
  <div class="container">
    <h2 class="search__title">Найди свою Sup - прогулку</h2>
    <form class="search__form">
      <div class="search__form-item">
        <p class="search__form-item-title">Город</p>
        <div class="search__form-item-select custom-select" data-select>
          <span class="custom-select__label"></span>
          <span class="custom-select__error"></span>
          <span class="custom-select__placeholder"></span>
          <button class="custom-select__button" type="button" aria-label="Выберите одну из опций">
            <span class="custom-select__text"></span>
            <span class="custom-select__icon"></span>
          </button>
          <ul class="custom-select__list">
            <li class="custom-select__item" tabindex="0" data-select-value="id-1" aria-selected="true">Москва</li>
            <li class="custom-select__item" tabindex="0" data-select-value="id-2">Санкт-Петербург</li>
          </ul>
        </div>
      </div>
      <div class="search__form-item search__form-item--column-3">
        <p class="search__form-item-title">Район</p>
        <div class="search__form-item-select custom-select" data-select>
          <span class="custom-select__label"></span>
          <span class="custom-select__error"></span>
          <span class="custom-select__placeholder"></span>
          <button class="custom-select__button" type="button" aria-label="Выберите одну из опций">
            <span class="custom-select__text"></span>
            <span class="custom-select__icon"></span>
          </button>
          <ul class="custom-select__list">
            <li class="custom-select__item" tabindex="0" data-select-value="id-1" aria-selected="true">Любой</li>
            <li class="custom-select__item" tabindex="0" data-select-value="id-2">Санкт-Петербург</li>
          </ul>
        </div>
      </div>
      <div class="search__form-item">
        <p class="search__form-item-title">На чем покататься</p>
        <div class="search__form-item-select custom-select" data-select>
          <span class="custom-select__label"></span>
          <span class="custom-select__error"></span>
          <span class="custom-select__placeholder"></span>
          <button class="custom-select__button" type="button" aria-label="Выберите одну из опций">
            <span class="custom-select__text"></span>
            <span class="custom-select__icon"></span>
          </button>
          <ul class="custom-select__list">
            <li class="custom-select__item" tabindex="0" data-select-value="id-1" aria-selected="true">Sup</li>
            <li class="custom-select__item" tabindex="0" data-select-value="id-2">Санкт-Петербург</li>
          </ul>
        </div>
      </div>
      <div class="search__form-item search__form-item--column-3">
        <p class="search__form-item-title">Тип мероприятия</p>
        <div class="search__form-item-select custom-select" data-select>
          <span class="custom-select__label"></span>
          <span class="custom-select__error"></span>
          <span class="custom-select__placeholder"></span>
          <button class="custom-select__button" type="button" aria-label="Выберите одну из опций">
            <span class="custom-select__text"></span>
            <span class="custom-select__icon"></span>
          </button>
          <ul class="custom-select__list">
            <li class="custom-select__item" tabindex="0" data-select-value="id-1" aria-selected="true">Любой</li>
            <li class="custom-select__item" tabindex="0" data-select-value="id-2">Санкт-Петербург</li>
          </ul>
        </div>
      </div>
      <button class="search__form-submit btn">ПОДОБРАТЬ</button>
    </form>
  </div>
</section>