<section class="search">
  <div class="container">
    <h2 class="search__title">Маршрут вокруг спаса на крови</h2>
    <form class="search__form">
      <button class="search__form-back-btn">
        <svg class="search__form-back-btn-icon" width="20" height="20">
          <use xlink:href="#icon-back"></use>
        </svg>
        <span>Назад</span>
      </button>
      <div class="search__form-item">
        <p class="search__form-item-title">Город</p>
        <div class="search__form-item-select custom-select" data-select>
          <span class="custom-select__label"></span>
          <span class="custom-select__error"></span>
          <span class="custom-select__placeholder"></span>
          <button class="custom-select__button" type="button" aria-label="Выберите одну из опций">
            <span class="custom-select__text"></span>
            <span class="custom-select__icon"></span>
          </button>
          <ul class="custom-select__list">
            <li class="custom-select__item" tabindex="0" data-select-value="id-1" aria-selected="true">Москва</li>
            <li class="custom-select__item" tabindex="0" data-select-value="id-2">Санкт-Петербург</li>
          </ul>
        </div>
      </div>
      <div class="search__form-item search__form-item--column-3">
        <p class="search__form-item-title">Район</p>
        <div class="search__form-item-select custom-select" data-select>
          <span class="custom-select__label"></span>
          <span class="custom-select__error"></span>
          <span class="custom-select__placeholder"></span>
          <button class="custom-select__button" type="button" aria-label="Выберите одну из опций">
            <span class="custom-select__text"></span>
            <span class="custom-select__icon"></span>
          </button>
          <ul class="custom-select__list">
            <li class="custom-select__item" tabindex="0" data-select-value="id-1" aria-selected="true">Центральный</li>
            <li class="custom-select__item" tabindex="0" data-select-value="id-2">Санкт-Петербург</li>
          </ul>
        </div>
      </div>
      <div class="search__form-item">
        <p class="search__form-item-title">На чем покататься</p>
        <div class="search__form-item-select custom-select" data-select>
          <span class="custom-select__label"></span>
          <span class="custom-select__error"></span>
          <span class="custom-select__placeholder"></span>
          <button class="custom-select__button" type="button" aria-label="Выберите одну из опций">
            <span class="custom-select__text"></span>
            <span class="custom-select__icon"></span>
          </button>
          <ul class="custom-select__list">
            <li class="custom-select__item" tabindex="0" data-select-value="id-1" aria-selected="true">Sup</li>
            <li class="custom-select__item" tabindex="0" data-select-value="id-2">Санкт-Петербург</li>
          </ul>
        </div>
      </div>
      <div class="search__form-item search__form-item--column-3">
        <p class="search__form-item-title">Тип мероприятия</p>
        <div class="search__form-item-select custom-select" data-select>
          <span class="custom-select__label"></span>
          <span class="custom-select__error"></span>
          <span class="custom-select__placeholder"></span>
          <button class="custom-select__button" type="button" aria-label="Выберите одну из опций">
            <span class="custom-select__text"></span>
            <span class="custom-select__icon"></span>
          </button>
          <ul class="custom-select__list">
            <li class="custom-select__item" tabindex="0" data-select-value="id-1" aria-selected="true">Прогулка</li>
            <li class="custom-select__item" tabindex="0" data-select-value="id-2">Санкт-Петербург</li>
          </ul>
        </div>
      </div>
      <div class="search__form-item">
        <p class="search__form-item-title">Дата</p>
        <input class="search__form-item-select date-select" type="date" data-value="Все">
      </div>
      <div class="search__form-item search__form-item--column-4">
        <p class="search__form-item-title">Школа</p>
        <div class="search__form-item-select custom-select" data-select>
          <span class="custom-select__label"></span>
          <span class="custom-select__error"></span>
          <span class="custom-select__placeholder"></span>
          <button class="custom-select__button" type="button" aria-label="Выберите одну из опций">
            <span class="custom-select__text"></span>
            <span class="custom-select__icon"></span>
          </button>
          <ul class="custom-select__list">
            <li class="custom-select__item" tabindex="0" data-select-value="id-1" aria-selected="true">Bivers school</li>
            <li class="custom-select__item" tabindex="0" data-select-value="id-2">Санкт-Петербург</li>
          </ul>
        </div>
      </div>
      <div class="search__form-item search__form-item--column-3">
        <p class="search__form-item-title">Маршрут</p>
        <div class="search__form-item-select custom-select" data-select>
          <span class="custom-select__label"></span>
          <span class="custom-select__error"></span>
          <span class="custom-select__placeholder"></span>
          <button class="custom-select__button" type="button" aria-label="Выберите одну из опций">
            <span class="custom-select__text"></span>
            <span class="custom-select__icon"></span>
          </button>
          <ul class="custom-select__list">
            <li class="custom-select__item" tabindex="0" data-select-value="id-1" aria-selected="true">Все</li>
            <li class="custom-select__item" tabindex="0" data-select-value="id-2">Санкт-Петербург</li>
          </ul>
        </div>
      </div>
      <div class="search__form-item search__form-item--column-3">
        <p class="search__form-item-title">Навыки райдера</p>
        <div class="search__form-item-select custom-select" data-select>
          <span class="custom-select__label"></span>
          <span class="custom-select__error"></span>
          <span class="custom-select__placeholder"></span>
          <button class="custom-select__button" type="button" aria-label="Выберите одну из опций">
            <span class="custom-select__text"></span>
            <span class="custom-select__icon"></span>
          </button>
          <ul class="custom-select__list">
            <li class="custom-select__item" tabindex="0" data-select-value="id-1" aria-selected="true">Новичок</li>
            <li class="custom-select__item" tabindex="0" data-select-value="id-2">Санкт-Петербург</li>
          </ul>
        </div>
      </div>
      <button class="search__form-submit btn">Обновить</button>
      <div class="search__form-item search__form-sorting search__form-item--column-10 search__form-sorting--desktop">
        <span>Сортировать по:</span>
        <a href="#" class="search__form-sorting-button search__form-sorting-button--active">По популярности</a>
        <a href="#" class="search__form-sorting-button">По цене</a>
      </div>
    </form>
    <div class="search__form-sorting search__form-sorting--mobile">
      <a href="#" class="search__form-sorting-button search__form-sorting-button--active">По популярности</a>
      <a href="#" class="search__form-sorting-button">По цене</a>
      <button class="search__form-filters-btn">
        <svg class="search__form-filters-btn-icon" width="20" height="20">
          <use xlink:href="#icon-filter"></use>
        </svg>
        <span>Фильтры</span>
      </button>
    </div>
  </div>
</section>