<section class="timetable inner-section">
  <div class="container">
    <h2 class="timetable__title section-title">Расписание прогулок</h2>
    <div class="timetable__wrapper">
      <div class="timetable__header">
        <div class="timetable__month">Май, 2022</div>
        <div class="timetable__navigation">
          <button class="navigation-button navigation-button--prev">
            <svg class="navigation-button__icon" width="24" height="24">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          </button>
          <div class="timetable__period">
            15.06 – 21.06
          </div>
          <button class="navigation-button navigation-button--next">
            <svg class="navigation-button__icon" width="24" height="24">
              <use xlink:href="#icon-arrow"></use>
            </svg>
          </button>
        </div>
      </div>
      <div class="timetable__table">
        <div class="timetable__table-column">
          <div class="timetable__table-column-day-of-the-week">Понедельник</div>
          <div class="timetable__table-column-wrapper">
            <div class="timetable__table-column-day-number">15</div>
            <ul class="timetable__table-column-lessons">
              <li class="timetable__table-column-lesson timetable__table-column-lesson--blue">
                <div class="timetable__table-column-lesson-time">7:00</div>
                <div class="timetable__table-column-lesson-name">Индивидуальное занятие</div>
              </li>
              <li class="timetable__table-column-lesson timetable__table-column-lesson--red">
                <div class="timetable__table-column-lesson-time">12:00</div>
                <div class="timetable__table-column-lesson-name">Групповое занятие для взрослых</div>
              </li>
              <li class="timetable__table-column-lesson timetable__table-column-lesson--yellow">
                <div class="timetable__table-column-lesson-time">19:00</div>
                <div class="timetable__table-column-lesson-name">Групповое занятие для детей</div>
              </li>
              <li class="timetable__table-column-lesson timetable__table-column-lesson--red">
                <div class="timetable__table-column-lesson-time">20:00</div>
                <div class="timetable__table-column-lesson-name">Групповое занятие для взрослых</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="timetable__table-column">
          <div class="timetable__table-column-day-of-the-week">Вторник</div>
          <div class="timetable__table-column-wrapper">
            <div class="timetable__table-column-day-number">16</div>
            <ul class="timetable__table-column-lessons">
              <li class="timetable__table-column-lesson timetable__table-column-lesson--yellow">
                <div class="timetable__table-column-lesson-time">12:00</div>
                <div class="timetable__table-column-lesson-name">Групповое занятие для детей</div>
              </li>
              <li class="timetable__table-column-lesson timetable__table-column-lesson--red">
                <div class="timetable__table-column-lesson-time">19:00</div>
                <div class="timetable__table-column-lesson-name">Групповое занятие для взрослых</div>
              </li>
              <li class="timetable__table-column-lesson timetable__table-column-lesson--red">
                <div class="timetable__table-column-lesson-time">20:00</div>
                <div class="timetable__table-column-lesson-name">Групповое занятие для взрослых</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="timetable__table-column">
          <div class="timetable__table-column-day-of-the-week">Среда</div>
          <div class="timetable__table-column-wrapper">
            <div class="timetable__table-column-day-number">17</div>
            <ul class="timetable__table-column-lessons">
              <li class="timetable__table-column-lesson timetable__table-column-lesson--blue">
                <div class="timetable__table-column-lesson-time">7:00</div>
                <div class="timetable__table-column-lesson-name">Индивидуальное занятие</div>
              </li>
              <li class="timetable__table-column-lesson timetable__table-column-lesson--red">
                <div class="timetable__table-column-lesson-time">12:00</div>
                <div class="timetable__table-column-lesson-name">Групповое занятие для взрослых</div>
              </li>
              <li class="timetable__table-column-lesson timetable__table-column-lesson--yellow">
                <div class="timetable__table-column-lesson-time">19:00</div>
                <div class="timetable__table-column-lesson-name">Групповое занятие для детей</div>
              </li>
              <li class="timetable__table-column-lesson timetable__table-column-lesson--red">
                <div class="timetable__table-column-lesson-time">20:00</div>
                <div class="timetable__table-column-lesson-name">Групповое занятие для взрослых</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="timetable__table-column">
          <div class="timetable__table-column-day-of-the-week">Четверг</div>
          <div class="timetable__table-column-wrapper">
            <div class="timetable__table-column-day-number">18</div>
            <ul class="timetable__table-column-lessons">
              <li class="timetable__table-column-lesson timetable__table-column-lesson--yellow">
                <div class="timetable__table-column-lesson-time">12:00</div>
                <div class="timetable__table-column-lesson-name">Групповое занятие для детей</div>
              </li>
              <li class="timetable__table-column-lesson timetable__table-column-lesson--red">
                <div class="timetable__table-column-lesson-time">19:00</div>
                <div class="timetable__table-column-lesson-name">Групповое занятие для взрослых</div>
              </li>
              <li class="timetable__table-column-lesson timetable__table-column-lesson--red">
                <div class="timetable__table-column-lesson-time">20:00</div>
                <div class="timetable__table-column-lesson-name">Групповое занятие для взрослых</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="timetable__table-column">
          <div class="timetable__table-column-day-of-the-week">Пятница</div>
          <div class="timetable__table-column-wrapper">
            <div class="timetable__table-column-day-number">19</div>
            <ul class="timetable__table-column-lessons">
              <li class="timetable__table-column-lesson timetable__table-column-lesson--blue">
                <div class="timetable__table-column-lesson-time">19:00</div>
                <div class="timetable__table-column-lesson-name">Индивидуальное занятие</div>
              </li>
              <li class="timetable__table-column-lesson timetable__table-column-lesson--yellow">
                <div class="timetable__table-column-lesson-time">20:00</div>
                <div class="timetable__table-column-lesson-name">Групповое занятие для детей</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="timetable__table-column">
          <div class="timetable__table-column-day-of-the-week">Суббота</div>
          <div class="timetable__table-column-wrapper">
            <div class="timetable__table-column-day-number">20</div>
            <ul class="timetable__table-column-lessons">
              <li class="timetable__table-column-lesson timetable__table-column-lesson--blue">
                <div class="timetable__table-column-lesson-time">7:00</div>
                <div class="timetable__table-column-lesson-name">Индивидуальное занятие</div>
              </li>
              <li class="timetable__table-column-lesson timetable__table-column-lesson--red">
                <div class="timetable__table-column-lesson-time">12:00</div>
                <div class="timetable__table-column-lesson-name">Групповое занятие для взрослых</div>
              </li>
              <li class="timetable__table-column-lesson timetable__table-column-lesson--yellow">
                <div class="timetable__table-column-lesson-time">19:00</div>
                <div class="timetable__table-column-lesson-name">Групповое занятие для детей</div>
              </li>
              <li class="timetable__table-column-lesson timetable__table-column-lesson--red">
                <div class="timetable__table-column-lesson-time">20:00</div>
                <div class="timetable__table-column-lesson-name">Групповое занятие для взрослых</div>
              </li>
            </ul>
          </div>
        </div>
        <div class="timetable__table-column">
          <div class="timetable__table-column-day-of-the-week">Воскресенье</div>
          <div class="timetable__table-column-wrapper">
            <div class="timetable__table-column-day-number">21</div>
            <ul class="timetable__table-column-lessons">
              <li class="timetable__table-column-lesson timetable__table-column-lesson--blue">
                <div class="timetable__table-column-lesson-time">7:00</div>
                <div class="timetable__table-column-lesson-name">Индивидуальное занятие</div>
              </li>
              <li class="timetable__table-column-lesson timetable__table-column-lesson--red">
                <div class="timetable__table-column-lesson-time">12:00</div>
                <div class="timetable__table-column-lesson-name">Групповое занятие для взрослых</div>
              </li>
              <li class="timetable__table-column-lesson timetable__table-column-lesson--yellow">
                <div class="timetable__table-column-lesson-time">19:00</div>
                <div class="timetable__table-column-lesson-name">Групповое занятие для детей</div>
              </li>
              <li class="timetable__table-column-lesson timetable__table-column-lesson--red">
                <div class="timetable__table-column-lesson-time">20:00</div>
                <div class="timetable__table-column-lesson-name">Групповое занятие для взрослых</div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


