.title {
  &-md {
    font-weight: 600;
    @include adaptiveDesktopToMobile('font-size', 36, 16);
    text-transform: uppercase;
  }

  &-sm {
    font-weight: 600;
    @include adaptiveDesktopToMobile('font-size', 24, 14);
    text-transform: uppercase;
  }

  &-s-sm {
    font-weight: 600;
    @include adaptiveDesktopToMobile('font-size', 20, 14);
    text-transform: uppercase;
  }

  &-v-sm {
    font-weight: 600;
    @include adaptiveDesktopToMobile('font-size', 18, 14);
    text-transform: uppercase;
  }
}

.navigation-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $color-sorbus;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $color-default-white;
  transition: background $trans-default;

  &:hover {
    background: $color-burnt-sienna;
  }

  &--prev {
    transform: rotate(180deg);
  }

  &--next {

  }
}

.main {
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    min-height: 463px;
    width: 100%;
    aspect-ratio: 1920 / 463;
    background-image: url(../img/svg/main-bg.svg);
    background-size: cover;
    z-index: -1;
  }

  &--inner {
    &::before {
      top: -80px;
    }
  }
  
  @include vp-1023 {
    &::before {
      display: none;
    }
  }
}

.section-title {
  margin: 0;
  
  font-weight: 600;
  @include adaptiveDesktopToMobile('font-size', 24, 16);
  text-transform: uppercase;
  @include adaptiveDesktopToMobile('margin-bottom', 50, 30);
}

body {
  display: flex;
  flex-direction: column;

  &.account-page {
    background-color: $color-whisper;
  }
}