<section class="breadcrumbs">
  <div class="container">
    <a href="/" class="breadcrumbs__link">@@link1</a>
    @@if (context.link2) { 
      <a href="#" class="breadcrumbs__link">@@link2</a>
    }
    @@if (context.link3) { 
      <a href="#" class="breadcrumbs__link">@@link3</a>
    }
    @@if (context.link4) { 
      <a href="#" class="breadcrumbs__link">@@link4</a>
    }
    @@if (context.link5) { 
      <a href="#" class="breadcrumbs__link">@@link5</a>
    }
    @@if (context.link6) { 
      <a href="#" class="breadcrumbs__link">@@link6</a>
    }
  </div>
</section>